{% block body %}
	<style type="text/css">
body{background: #6f2a2a;}
h1 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 54px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }
p { color: #111; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin-left:200px; margin-right: 200px; margin-bottom: 0px; text-align:center;}
#outer {width:100%;text-align: center;}
.inner {display: inline-block;}
.button {background-color: #111;
    color: white;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 4px;}
.button:hover {border-color: #3f2a2a; background-color: white; color: #111;}
.boat_input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
}
.boat_input:focus {border: 3px solid #555;}
	</style>
<title>Battleship - Setup</title>
<div class=page>
	<h1>BATTLESHIP GAME</h1>
	<p>Each team has 3 ships of 3 block length each.</p>
	<p>Ships can be vertical or horizontal in direction.</p>
	<p>In the below boxes, choose a starting square and the direction (0 for Vertical, 1 for Horizontal) for each ship.</p>
	<p></p>
	<p></p>

	<div id="outer">
		<div class="inner">
			<form action="/game_setup/" method="POST"> <!-- was \ now / -->
			  <input class="boat_input" type="Boat 1" name="Boat 1" placeholder="A0">
			  <input class="boat_input" type="Dir 1" name="Dir 1" placeholder="0">
			  <p></p>
			  <input class="boat_input" type="Boat 2" name="Boat 2" placeholder="B1">
			  <input class="boat_input" type="Dir 2" name="Dir 2" placeholder="1">
			  <p></p>
			  <input class="boat_input" type="Boat 3" name="Boat 3" placeholder="C2">
			  <input class="boat_input" type="Dir 3" name="Dir 3" placeholder="0">
			  <p></p>
			  <input class="button" type="submit" name="submit" value="Play">
			</form>
		</div>
	</div>
</div>
{% endblock %}