{% block body %}
<title>Battleship - Game</title>
<div class=page>
	<h1>Battleship Game</h1>

	<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:20px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:20px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-edua{color:#680100;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
	</style>

	<h2>{{user2}}'s Board</h2>
	<table class="tg">
	  <tr>
	    <th class="tg-edua"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-baqh"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	</table>
	<p></p>
	<p></p>
	<p></p>
	<h2>Your Board</h2>
	<table class="tg">
	  <tr>
	    <th class="tg-edua"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-baqh"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	    <th class="tg-yw4l"></th>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	  </tr>
	</table>
</div>
{% endblock %}