{% block body %}
<style type="text/css">
body{background: #6f2a2a;}
h1 { color: #111; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 50px; text-align: center; font-style:bold;}
h3 { color: #111; font-family: 'Lato', sans-serif; font-size: 30px; font-weight: 300; line-height: 58px; margin: 0 0 0; text-align: center; font-style:bold;}

.inner {text-align: center;}
	</style>

<title>Battleship - Login</title>
<div class=page>
	<h1>Battleship Game</h1>
		<div class="inner">
			<h3>Account Creation</h3>
			<form action="/new_account" method="POST">
			  <input type="username" name="username" placeholder="Username">
			  <input type="password" name="password" placeholder="Password">
			  <input type="submit" name="submit" value="Create Account">
			</form>
		</div>
	<p></p>
	<p></p>
	<p></p>
	<div class ="inner">
		<form action="/login" method="POST">
		  <input type="submit" name="submit" value="Back to Login">
		</form>
	</div>
</div>
{% endblock %}